@{
    ViewData["Title"] = "About Our Employees";
}
<body>

    <img src="~/images/bg.jpg" id="bg" />
    <h1 id="C">About Our Company</h1>

    <p>
        Aspiring doll designer and maker, Jigarbhai Govindbhai Pate have taken a variety of art, drawing, and sewing
        classes in school which helped them to create this awsome inovation of dolls.
        Many art guilds offer classes in doll making in various mediums. Fabric and craft stores may offer classes
        in fabric doll making. Taking computer design courses will also be helpful.Check out the web for local, state,
        regional, and national doll maker organizations. They often offer conferences and programs of interest for doll
        designers and makers. You might also contact the National Institute of American Doll Artists, a "worldwide group
        of doll artists, supportive patrons, and friends whose purpose is to promote the art of the original handmade
        doll." The institute offers conferences, academies, and classes, as well as a doll making school each summer
        for individuals interested in learning dollmaking techniques such as sculpting, painting, fabric-figure making,
        textile design, armature design, costuming, and more.Take every opportunity to visit art and craft shows where
        doll artists may be featured. These will give you ideas as well as help you make important contacts in the field.
    </p>


    <h1>Description of Products</h1>
    <img id="Tanaji" src="~/images/Tanaji Doll.jpg" />
    <img id="Frozen" src="~/images/halloween-doll.jpg" />
    <img id="Moana" src="~/images/Moana pop doll.jpg" />
</body>